.character-card {
  background-color: #fff;
  border-radius: 8px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 16px;
  width: 300px;
}

.character-card__title {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 8px;
}

.character-card__image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 16px;
  height: 300px;
  object-fit: cover;
}

.character-card__details-container {
  display: flex;
  gap: 8px;
}

.character-card__species {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  background-color: #ffab0d;
  border-radius: 8px;
  padding: 2px 6px;
  text-transform: uppercase;
}

.character-card__status {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  background-color: #751807;
  border-radius: 8px;
  padding: 2px 6px;
  text-transform: uppercase;
}