.navbar {
  width: 100%;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 10px;
  position: fixed;
}

.container {
  max-width: 1260px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar__logo-title {
  font-size: 24px;
  font-weight: bold;
  color: #7a7a7a;
}

.navbar__menu {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar__menu-item {
  margin-right: 10px;
}

.navbar__menu-text {
  font-size: 16px;
}

.navbar__menu-flag {
  width: 20px;
  height: 20px;
  cursor: pointer;
}